@import '../../vars.scss';

.container {
  @include defaultContainer;
  justify-content: space-between;
  box-sizing: border-box;
  .favWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .vacancyContainer {
      position: relative;
      .pendingFilter {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: grayscale(1);
      }
    }
  }
  .paginationContainer {
    @include paginationContainer;
  }
}
