@import '../../vars.scss';

.container {
  @include mainBox;
  .description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .profession {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      &.link {
        color: $blueMain500;
      }
    }
    .paymentAndType {
      display: flex;
      gap: 12px;
      .payment {
        display: flex;
        font-weight: 600;
        line-height: 20px;
      }
      .dot {
        color: $grey600;
      }
    }
    .location {
      display: flex;
      gap: 8px;
    }
    &.big {
      font-size: 20px;
      gap: 16px;
      .profession {
        font-size: 28px;
        line-height: unset;
      }
      .location {
        font-size: 16px;
      }
    }
  }
  .favStar {
    min-width: 22px;
    cursor: pointer;
    path {
      transition: fill 0.2s, stroke 0.2s;
    }
    &:hover {
      path {
        stroke: $blueMain500;
      }
    }
    &.active {
      path {
        fill: $blueMain500;
        stroke: $blueMain500;
      }
    }
  }
}
