#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 84px;
  overflow-y: overlay;
  .content {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0;
  }
}
