#root {
  width: 100%;
	height: 100%;
  display: grid;
  grid-template-rows: 84px;
  grid-template-areas:
    'header'
    'content';
		overflow-y: overlay;
  .content {
    grid-area: content;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0;
  }
}
