@import './vars.scss';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: $mainTextColor;
  a {
    color: $mainTextColor;
    text-decoration: none;
  }
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 84px;
	overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
