//colors
$black: #232134;
$grey600: #7b7c88;
$grey500: #acadb9;
$grey300: #d5d6dc;
$grey200: #eaebed;
$grey100: #f5f5f6;

$blue600: #3b7cd3;
$blueMain500: #5e96fc;
$blue400: #92c1ff;
$blue300: #b7d6ff;
$blue200: #c9e0ff;
$blue100: #deecff;

$mainBorderRadius: 12px;
$mainBorder: 1px solid $grey200;

@mixin mainBox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  padding: 24px;
  border: $mainBorder;
  border-radius: $mainBorderRadius;
}

@mixin paginationContainer {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	padding: 10px;
	box-sizing: border-box;
	background-color: $grey100;
}
